<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        rel="stylesheet" />
        <link href="https: //fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap" rel="stylesheet"/>

    </head>
    
    <body>

        <header class="container-header">
            <div class="second-header">
                <div class="first-header">
                    <img class="logo" src="/images/logo-mercado-liebre.svg" alt="mercado libre">                       
                    <input class="input" type="text" placeholder="Buscar productos,marcas"><i class="fa-solid fa-magnifying-glass"></i>                                   
                        
                    </div>

                    <div class="icon-hand"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjetas de credito</div>
                </div>
            
            <div class="list">

            <ul class="first-part-navbar">            
            
                <li><a class="enlace" href="">ofertas</a></li>
                <li><a class="enlace" href="">Tiendas Oficiales</a></li>
                <li><a class="enlace" href="">Vender</a></li>
                <li><a class="enlace" href="">Ayuda</a></li>

            </ul>

            <br>

            <ul class="second-part-navbar">

                <li><a class="enlace" href="https://mercadolibre-aleja.onrender.com/register" target="_blank">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>               
                <li><a class="enlace" href="https://mercadolibre-aleja.onrender.com/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>                
                <li><a class="enlace" href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>


            </ul>

                </div>
                


            <div class="burger-menu"><i class="fas fa-bars"></i></div>

            <img class="banner" src="/images/banner.jpg" alt="banner">
            
        </header>
     
        <main>
            <h3>Basado en tu última visita</h3>
            <section class="products">
                <div class="container-article">
                <div class="article">
                <img src="/images/cafetera.jpg" alt="cafetera"></div>

                <div class="description">
                <i class="fa-solid fa-truck"></i>
                <div class="price">
                <p class="value">$6.770</p>
                <p class="percent">40% OFF</p></div>
                <h4>Cafetera Moulinex</h4></div></div>

                <div class="container-article">
                <div class="article"><img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" ></div>
                
                <div class="description">
                <i class="fa-solid fa-truck"></i>
                <div class="price">                
                <p class="value">$230.000</p>
                <p class="percent">20% off</p></div>
                <h4>MacBook Pro 2019</h4></div></div>

                <div class="container-article">
                <div class="article"><img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" ></div>
                
                <div class="description">
                <i class="fa-solid fa-truck"></i>
                <div class="price">
                <p class="value">$70.500</p>
                <p class="percent">10% off</p></div>
                <h4>Samsung Galaxy S10</h4></div></div>
                
                <div class="container-article">
                <div class="article"><img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" ></div>
                
                <div class="description">
                <i class="fa-solid fa-truck"></i>
                <div class="price">
                <p class="value">$23.200 </p>
                <p class ="percent">5% off</p></div>
                <h4>SmartTv Samsung 43</h4></div></div>

            </section>

            <section>

                <h3>Sección de Ofertas</h3>                
                <div class="container-article">
                <div class="article">
                <img src="/images/cafetera.jpg" alt="cafetera"></div>

                <div class="description">
                <i class="fa-solid fa-truck"></i>
                <div class="price">
                <p class="value">$6.770</p>
                <p class="percent">40% OFF</p></div>
                <h4>Cafetera Moulinex</h4></div></div>

                <div class="container-article">
                <div class="article"><img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" ></div>
                
                <div class="description">
                <i class="fa-solid fa-truck"></i>   
                <div class="price">             
                <p class="value">$230.000</p>
                <p class="percent">20% off</p></div>
                <h4>MacBook Pro 2019</h4></div></div>

                <div class="container-article">
                <div class="article"><img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" ></div>
                
                <div class="description">
                <i class="fa-solid fa-truck"></i>
                <div class="price">
                <p class="value">$70.500</p>
                <p class="percent">10% off</p></div>
                <h4>Samsung Galaxy S10</h4></div></div>
                
                <div class="container-article">
                <div class="article"><img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" ></div>
                
                <div class="description">
                <i class="fa-solid fa-truck"></i>
                <div class="price">
                <p class="value">$23.200 </p>
                <p class="percent">5% off</p></div>
                <h4>SmartTv Samsung 43</h4></div></div>
               
                    
            </section>

        </main>

    <footer>

        <div class="foot">

            <div class="recomendaciones">
                <i class="fa-solid fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                
        
            <div class="recomendaciones">
                <i class="fa-solid fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                </div>        
    
            <div class="recomendaciones">
                <i class="fa-solid fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>      

        
    </footer>

    </body> 
</html>