<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header class="container-header">
        <div class="second-header">
            <div class="first-header">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="mercado libre">                       
                <input class="input" type="text" placeholder="Buscar productos,marcas"><i class="fa-solid fa-magnifying-glass"></i>                                   
                    
                </div>

                <div class="icon-hand"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjetas de credito</div>
            </div>
        
        <div class="list">

        <ul class="first-part-navbar">            
        
            <li><a class="enlace" href="">ofertas</a></li>
            <li><a class="enlace" href="">Tiendas Oficiales</a></li>
            <li><a class="enlace" href="">Vender</a></li>
            <li><a class="enlace" href="">Ayuda</a></li>

        </ul>

        <br>

        <ul class="second-part-navbar">

            <li><a class="enlace" href="https://mercadoliebre-h7ok.onrender.com/register">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>               
            <li><a class="enlace" href="https://mercadoliebre-h7ok.onrender.com/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>                
            <li><a class="enlace" href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            

        </ul>

            </div>
            


        <div class="burger-menu"><i class="fas fa-bars"></i></div>

        <img class="banner" src="/images/banner.jpg" alt="banner">
        
    </header>

    <form>
        <input class="input" type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre de usuario">
        <input class="password" type="password" id="password" name="password" placeholder="Elegi tu contraseña">
        <buttom class="boton" type="submit">Enviar</buttom> 
    </form>

    <footer>

        <div class="foot">
    
            <div class="recomendaciones">
                <i class="fa-solid fa-credit-card"></i>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
                
        
            <div class="recomendaciones">
                <i class="fa-solid fa-gift"></i>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>        
    
            <div class="recomendaciones">
                <i class="fa-solid fa-user-shield"></i>
                <h5>Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>

        <br>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>      

        
    </footer>
    
</body>
</html>