<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    <div class="content-form">
        <form  action="register.html" method="POST">
            
            <input class="input" type="text" id="nombre y apellido" name="Nombre y apellido" placeholder="nombre y apellido">
            <input class="input" type="text" id="usuario" name="usuario" placeholder="Nombre de usuario">
            <input class="input" type="email" id="email" name="email" placeholder="e-mail">
            <label class="label-1"for="FechaNacimiento">Fecha de nacimiento</label>
            <input class="input" type="date" name="fecha">
            <input class="input" type="text" id="domicilio" name="domicilio" placeholder="Domicilio">
            <label class="label-1" for="Perfilusuario">Perfil de usuario</label>
            <div><span class="radio1"><input type="radio" name="perfilUsuario" value="Comprador"><label for="Comprador">Comprador</label></span>
            <span class="radio2"><input type="radio" name="perfilUsuario" value="Vendedor"><label for="Vendedor">Vendedor</label></span></div>
            <label class="label-1" for="Intereses">Intereses</label>
            <div class="label-3"><input  type="checkbox" name="Intereses" value="Electro"><label for="Electro">Electro</label></div>
            <div class="label-3"><input  type="checkbox" name="Intereses" value="Moda"><label for="Moda">Moda</label></div>
            <div class="label-3"><input  type="checkbox" name="Intereses" value="Hogar"><label for="Hogar">Hogar</label></div>
            <div class="label-3"><input  type="checkbox" name="Intereses" value="Jugueteria"><label for="Jugueteria">Jugueteria</label></div>
            <div class="label-3"><input  type="checkbox" name="Intereses" value="Vida sana"><label for="Vida sana">Vida sana</label></div>

        </form>
    </div>
    
</body>
</html>